body {
    background-color: rgb(169, 214, 229);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header {
    background-color: rgb(48, 48, 208);
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
}

.header div {
    line-height: 5px;
}

.header-links a {
    color: black;
    text-decoration: none;
}

.header-links a:hover {
    color: rgb(192, 192, 192);
    transition-duration: .15s;
}


.header-links {
    align-self: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-links li {
    margin-left: 20px;
}

.login-box {
    margin: auto;
    width: 20%;
    background-color: white;
    padding: 10px;
    margin-top: 50px;
    border-radius: 25px;
}